In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 14.2 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 21.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0

In [3]:
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [23]:
from pymongo import MongoClient

# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Obtener la lista de nombres de todas las colecciones en la base de datos
database_name = "PROYECTO"
database = client[database_name]
collection_names = database.list_collection_names()

# Iterar sobre las colecciones y obtener sus atributos
for collection_name in collection_names:
    collection = database[collection_name]
    print(f"Nombre de la colección: {collection_name}")
    print("Atributos:")
    for document in collection.find().limit(1):
        for key in document.keys():
            print(key)

    print("-----")

Nombre de la colección: NEW TAXIS
Atributos:
_id
Date
Viajes por dia
Pasajeros por dia
Distancia(millas)
Tarifario por dia($USD)
travel_tday_bgh
borough
Total recaudado por dia($USD)
Pago con tarjeta
Pago con efectivo
Tipo de taxi
-----
Nombre de la colección: Calidad del Aire
Atributos:
_id
Name
Measure
Measure Info
Geo Type Name
Geo Join ID
Geo Place Name
Time Period
Start_Date
Data Value
-----
Nombre de la colección: Taxis rutas
Atributos:
_id
Fecha
Pasajeros por dia
Viajes por dia
Tarifario por dia
Total recaudado por dia
Pago con tarjeta
Pago con efectivo
Tipo de Taxi
-----
Nombre de la colección: Combustion y CO2 2021-2023
Atributos:
_id
Model(Year)
Make
Model
Vehicle Class
Engine Size(L)
Cylinders
Transmission
Fuel(Type)
Fuel Consumption(City (L/mi)
CO2 Emissions(lb/mi)
CO2(Rating)
Smog(Rating)
-----
Nombre de la colección: Contaminación sonora
Atributos:
_id
fecha
id_borough
engine_sounds
alert_signal_sounds
total_sounds
borough_name
-----
Nombre de la colección: Taxis zonas
Atributos:
_id
Shape_Leng
Shape_Area
LocationID
Borough
Zone
service_zone
-----

In [10]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["NEW TAXIS"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df1 = pd.DataFrame(documentos)
df1.head()

,_id,Date,Viajes por dia,Pasajeros por dia,Distancia(millas),Tarifario por dia($USD),travel_tday_bgh,borough,Total recaudado por dia($USD),Pago con tarjeta,Pago con efectivo,Tipo de taxi
0,64adb5399da21d06b79d7f8e,2022-01-01,93,97.0,272.33,2054.28,1 days 01:33:00,Bronx,2348.79,4066611,1510506,yellow
1,64adb5399da21d06b79d7f8f,2022-01-01,1,1.0,17.10,67.20,0 days 01:12:23,Staten Island,74.55,43727,16242,yellow
2,64adb5399da21d06b79d7f90,2022-01-01,734,744.0,3500.23,16145.55,10 days 20:15:28,Brooklyn,20360.47,32095618,11921628,yellow
3,64adb5399da21d06b79d7f91,2022-01-01,55593,84497.0,265662.88,649061.94,552 days 03:25:14,Manhattan,967462.34,2430915111,902941506,yellow
4,64adb5399da21d06b79d7f92,2022-01-01,43,88.0,15.04,3099.55,0 days 00:38:02,EWR,3491.51,1880261,698406,yellow

In [27]:
df1.columns

Index(['_id', 'Date', 'Viajes por dia', 'Pasajeros por dia',
       'Distancia(millas)', 'Tarifario por dia($USD)', 'travel_tday_bgh',
       'borough', 'Total recaudado por dia($USD)', 'Pago con tarjeta',
       'Pago con efectivo', 'Tipo de taxi'],
      dtype='object')

In [11]:
# Convertir la columna "Start_Date" a tipo datetime si no está en ese formato
df1["Date"] = pd.to_datetime(df1["Date"])

# Filtrar los años únicos
unique_years = df1["Date"].dt.year.unique()

# Imprimir los años únicos
for year in unique_years:
    print(year)

2022
2023

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   _id                            5295 non-null   object
 1   Date                           5295 non-null   datetime64[ns]
 2   Viajes por dia                 5295 non-null   int64
 3   Pasajeros por dia              5295 non-null   float64
 4   Distancia(millas)              5295 non-null   float64
 5   Tarifario por dia($USD)        5295 non-null   float64
 6   travel_tday_bgh                5295 non-null   object
 7   borough                        5295 non-null   object
 8   Total recaudado por dia($USD)  5295 non-null   float64
 9   Pago con tarjeta               5295 non-null   int64
 10  Pago con efectivo              5295 non-null   int64
 11  Tipo de taxi                   5295 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(3), object(4)
memory usage: 496.5+ KB

In [ ]:
df1.to_csv('New_Taxis.csv', index=False)

In [5]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Calidad del Aire"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df2 = pd.DataFrame(documentos)

df2.head()

,_id,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,64a59ffcfd28e906a7714093,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,2013-06-01,34.64
1,64a59ffcfd28e906a7714094,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,2014-06-01,33.22
2,64a59ffcfd28e906a7714095,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,2013-06-01,31.25
3,64a59ffcfd28e906a7714096,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,2014-06-01,31.15
4,64a59ffcfd28e906a7714097,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,2008-12-01,5.89

In [9]:


# Convertir la columna "Start_Date" a tipo datetime si no está en ese formato
df2["Start_Date"] = pd.to_datetime(df2["Start_Date"])

# Filtrar los años únicos
unique_years = df2["Start_Date"].dt.year.unique()

# Imprimir los años únicos
for year in unique_years:
    print(year)

2013
2014
2008
2009
2010
2011
2012
2005
2015
2016
2017
2018
2019
2020

In [8]:
unique_values = df2["Start_Date"].unique()
print(unique_values)

['2013-06-01T00:00:00.000000000' '2014-06-01T00:00:00.000000000'
 '2008-12-01T00:00:00.000000000' '2009-06-01T00:00:00.000000000'
 '2010-06-01T00:00:00.000000000' '2011-06-01T00:00:00.000000000'
 '2012-06-01T00:00:00.000000000' '2009-12-01T00:00:00.000000000'
 '2005-01-01T00:00:00.000000000' '2013-01-01T00:00:00.000000000'
 '2009-01-01T00:00:00.000000000' '2010-12-01T00:00:00.000000000'
 '2011-12-01T00:00:00.000000000' '2012-12-01T00:00:00.000000000'
 '2015-01-01T00:00:00.000000000' '2013-12-01T00:00:00.000000000'
 '2011-01-01T00:00:00.000000000' '2014-12-01T00:00:00.000000000'
 '2016-01-01T00:00:00.000000000' '2015-06-01T00:00:00.000000000'
 '2015-12-01T00:00:00.000000000' '2016-05-31T00:00:00.000000000'
 '2015-12-31T00:00:00.000000000' '2017-06-01T00:00:00.000000000'
 '2012-01-02T00:00:00.000000000' '2018-06-01T00:00:00.000000000'
 '2017-01-01T00:00:00.000000000' '2019-06-01T00:00:00.000000000'
 '2016-12-01T00:00:00.000000000' '2018-01-01T00:00:00.000000000'
 '2017-12-01T00:00:00.000000000' '2020-06-01T00:00:00.000000000'
 '2019-01-01T00:00:00.000000000' '2018-12-01T00:00:00.000000000'
 '2020-01-01T00:00:00.000000000' '2019-12-01T00:00:00.000000000']

In [7]:
unique_values = df2["Name"].unique()
print(unique_values)

['Ozone (O3)' 'Sulfur Dioxide (SO2)' 'PM2.5-Attributable Deaths'
 'Boiler Emissions- Total SO2 Emissions'
 'Boiler Emissions- Total PM2.5 Emissions'
 'Boiler Emissions- Total NOx Emissions'
 'Air Toxics Concentrations- Average Benzene Concentrations'
 'Air Toxics Concentrations- Average Formaldehyde Concentrations'
 'PM2.5-Attributable Asthma Emergency Department Visits'
 'PM2.5-Attributable Respiratory Hospitalizations (Adults 20 Yrs and Older)'
 'PM2.5-Attributable Cardiovascular Hospitalizations (Adults 40 Yrs and Older)'
 'Traffic Density- Annual Vehicle Miles Traveled'
 'O3-Attributable Cardiac and Respiratory Deaths'
 'O3-Attributable Asthma Emergency Department Visits'
 'O3-Attributable Asthma Hospitalizations'
 'Traffic Density- Annual Vehicle Miles Traveled for Cars'
 'Traffic Density- Annual Vehicle Miles Traveled for Trucks'
 'Nitrogen Dioxide (NO2)' 'Fine Particulate Matter (PM2.5)']

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16122 entries, 0 to 16121
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             16122 non-null  object
 1   Name            16122 non-null  object
 2   Measure         16122 non-null  object
 3   Measure Info    16122 non-null  object
 4   Geo Type Name   16122 non-null  object
 5   Geo Join ID     16122 non-null  int64
 6   Geo Place Name  16122 non-null  object
 7   Time Period     16122 non-null  object
 8   Start_Date      16122 non-null  datetime64[ns]
 9   Data Value      16122 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 1.2+ MB

In [ ]:
df2.to_csv('Calidad_Aire.csv', index=False)

In [13]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Taxis rutas"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df3 = pd.DataFrame(documentos)
df3.head()

,_id,Fecha,Pasajeros por dia,Viajes por dia,Tarifario por dia,Total recaudado por dia,Pago con tarjeta,Pago con efectivo,Tipo de Taxi
0,64a5a7a84ee33a36a6e64b05,2022-01-01,1320,1273,20361.61,25128.72,568,508,green
1,64a5a7a84ee33a36a6e64b06,2022-01-02,1739,1500,21448.61,26851.77,830,543,green
2,64a5a7a84ee33a36a6e64b07,2022-01-03,2716,2332,30798.87,38778.99,1216,917,green
3,64a5a7a84ee33a36a6e64b08,2022-01-04,2438,2165,30469.21,38390.10,1190,793,green
4,64a5a7a84ee33a36a6e64b09,2022-01-05,2650,2259,30853.43,39222.21,1266,806,green

In [15]:

# Convertir la columna "Start_Date" a tipo datetime si no está en ese formato
df3["Fecha"] = pd.to_datetime(df3["Fecha"])

# Filtrar los años únicos
unique_years = df3["Fecha"].dt.year.unique()

# Imprimir los años únicos
for year in unique_years:
    print(year)

2022
2023

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1136 non-null   object
 1   Fecha                    1136 non-null   object
 2   Pasajeros por dia        1136 non-null   int64
 3   Viajes por dia           1136 non-null   int64
 4   Tarifario por dia        1136 non-null   float64
 5   Total recaudado por dia  1136 non-null   float64
 6   Pago con tarjeta         1136 non-null   int64
 7   Pago con efectivo        1136 non-null   int64
 8   Tipo de Taxi             1136 non-null   object
dtypes: float64(2), int64(4), object(3)
memory usage: 80.0+ KB

In [ ]:
df3.to_csv('Taxis_rutas.csv', index=False)

In [16]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Combustion y CO2 2021-2023"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df4 = pd.DataFrame(documentos)
df4.head()

,_id,Model(Year),Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel(Type),Fuel Consumption(City (L/mi),CO2 Emissions(lb/mi),CO2(Rating),Smog(Rating)
0,64ae364809ef2156ff0672e7,2023,Acura,{'1': 'Integra'},Full-size,1.5,4.0,AV7,4.0,0.13,0.59,6,7
1,64ae364809ef2156ff0672e8,2023,Acura,{'1': 'Integra A-SPEC'},Full-size,1.5,4.0,AV7,4.0,0.13,0.61,6,7
2,64ae364809ef2156ff0672e9,2023,Acura,{'1': 'Integra A-SPEC'},Full-size,1.5,4.0,M6,4.0,0.14,0.64,6,6
3,64ae364809ef2156ff0672ea,2023,Acura,{'1': 'MDX SH-AWD'},SUV: Small,3.5,6.0,AS10,6.0,0.20,0.93,4,5
4,64ae364809ef2156ff0672eb,2023,Acura,{'1': 'MDX SH-AWD Type S'},SUV: Standard,3.0,6.0,AS10,6.0,0.22,1.03,4,5

In [28]:
unique_values = df4["Model(Year)"].unique()
print(unique_values)

[2023 2022 2021]

In [7]:
df4.to_csv('Combustion_CO21.csv', index=False)

In [26]:
df4.columns

Index(['_id', 'Model(Year)', 'Make', 'Model', 'Vehicle Class',
       'Engine Size(L)', 'Cylinders', 'Transmission', 'Fuel(Type)',
       'Fuel Consumption(City (L/mi)', 'CO2 Emissions(lb/mi)', 'CO2(Rating)',
       'Smog(Rating)'],
      dtype='object')

In [17]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Contaminación sonora"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df5 = pd.DataFrame(documentos)
df5.head()

,_id,fecha,id_borough,engine_sounds,alert_signal_sounds,total_sounds,borough_name
0,64a5a1da4ee33a36a6e64740,2016-05-01,1,5,3,8,manhattan
1,64a5a1da4ee33a36a6e64741,2016-05-02,1,9,14,23,manhattan
2,64a5a1da4ee33a36a6e64742,2016-05-03,1,4,3,7,manhattan
3,64a5a1da4ee33a36a6e64743,2016-05-04,1,9,1,10,manhattan
4,64a5a1da4ee33a36a6e64744,2016-05-05,1,4,0,4,manhattan

In [22]:
unique_values = df5["borough_name"].unique()
print(unique_values)

['manhattan' 'brooklyn' 'queens']

In [19]:

# Convertir la columna "Start_Date" a tipo datetime si no está en ese formato
df5["fecha"] = pd.to_datetime(df5["fecha"])

# Filtrar los años únicos
unique_years = df5["fecha"].dt.year.unique()

# Imprimir los años únicos
for year in unique_years:
    print(year)

2016
2017
2018
2019

In [ ]:
df5.to_csv('Contaminación_Sonora.csv', index=False)

In [20]:
# Cadena de conexión a MongoDB Atlas
mongo_uri = "mongodb+srv://proyecto:proyecto@cluster0.fwvbnih.mongodb.net/?retryWrites=true&w=majority"

# Conectar a MongoDB Atlas
client = MongoClient(mongo_uri)

# Seleccionar la base de datos y la colección
db = client["PROYECTO"]
collection = db["Taxis zonas"]

# Obtener todos los documentos de la colección como una lista de diccionarios
documentos = list(collection.find())

# Convertir la lista de diccionarios en un DataFrame de pandas
df6 = pd.DataFrame(documentos)
df6.head()

,_id,Shape_Leng,Shape_Area,LocationID,Borough,Zone,service_zone
0,64a5a7774ee33a36a6e649fd,0.116357,0.000782,1,EWR,Newark Airport,EWR
1,64a5a7774ee33a36a6e649fe,0.433470,0.004866,2,Queens,Jamaica Bay,Boro Zone
2,64a5a7774ee33a36a6e649ff,0.084341,0.000314,3,Bronx,Allerton/Pelham Gardens,Boro Zone
3,64a5a7774ee33a36a6e64a00,0.043567,0.000112,4,Manhattan,Alphabet City,Yellow Zone
4,64a5a7774ee33a36a6e64a01,0.092146,0.000498,5,Staten Island,Arden Heights,Boro Zone

In [21]:
unique_values = df6["Borough"].unique()
print(unique_values)

['EWR' 'Queens' 'Bronx' 'Manhattan' 'Staten Island' 'Brooklyn']

In [ ]:
df6.to_csv('Taxis_Zonas.csv', index=False)

# Union df1 y df4

In [35]:
import pandas as pd

# Obtener las fechas únicas de 2022 y 2023
fechas_2022_2023 = df1['Date'].unique()

# Generar las fechas de 2021
fechas_2021 = pd.date_range(start='2021-01-01', end='2021-12-31')

# Calcular el promedio de las columnas para las fechas de 2022 y 2023
promedio_por_columna = df1.groupby('Date').mean()

# Crear un DataFrame con las fechas de 2021 y los promedios por columna
df_2021 = pd.DataFrame({
    'Date': fechas_2021,
    'Viajes por dia': promedio_por_columna['Viajes por dia'].mean(),
    'Pasajeros por dia': promedio_por_columna['Pasajeros por dia'].mean(),
    'Distancia(millas)': promedio_por_columna['Distancia(millas)'].mean(),
    'Tarifario por dia($USD)': promedio_por_columna['Tarifario por dia($USD)'].mean(),
    'travel_tday_bgh': promedio_por_columna['travel_tday_bgh'].mean(),
    'borough': '',  # Valor sintético para borough
    'Total recaudado por dia($USD)': promedio_por_columna['Total recaudado por dia($USD)'].mean(),
    'Pago con tarjeta': promedio_por_columna['Pago con tarjeta'].mean(),
    'Pago con efectivo': promedio_por_columna['Pago con efectivo'].mean(),
    'Tipo de taxi': ''  # Valor sintético para Tipo de taxi
})

# Concatenar los DataFrames df_2021 y df1
df_final = pd.concat([df_2021, df1], ignore_index=True)

# Guardar el DataFrame resultante en un nuevo archivo CSV
df_final.to_csv('nuevo_dataframe.csv', index=False)

<ipython-input-35-cd2155f9f44f>:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  promedio_por_columna = df1.groupby('Date').mean()

KeyError: ignored